<!DOCTYPE html>
<html>

<head>
  <title>SecurPoint </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap" rel="stylesheet" />
  <link rel="icon" type="image/png" sizes="16x16" href="../../images/favicon.png" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <style type="text/css">
    body {
      height: 100% !important;
      margin: 0 !important;
      padding: 0 !important;
      width: 100% !important;
      font-family: "Inter", sans-serif;
      background-color: #fff;
    }

    a {
      color: #000;
    }

    .ct_privacy_head h4 {
      font-size: 35px !important;
      color: #000;
    }

    p,
    li {
      color: #000;
      font-size: 15px;
    }

    /* MOBILE STYLES */
    @media screen and (max-width: 600px) {
      h1 {
        font-size: 32px !important;
        line-height: 32px !important;
      }

      .elementor-widget-container h3 {
        font-size: 22px !important;
      }
    }

    /* ANDROID CENTER FIX */
    div[style*="margin: 16px 0;"] {
      margin: 0 !important;
    }

    /* ct css S */
    /*  .ct_sec_padd{
            padding-block: 70px; 
        } */

    .ct_logo {
      text-align: center;
      margin-bottom: 50px;
    }

    .elementor-widget-container h3 {
      font-size: 24px;
      margin-bottom: 25px;
      font-weight: 600;
      line-height: 28px;
      color: #000;
    }

    .ct_privacy_head {
      background-image: url("http://44.199.1.149:4000/image/vivid-blurred-colorful-wallpaper-background-2048x1367.jpg");
      height: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-position: bottom;
      background-size: cover;
    }

    /*ol{
   padding-left:0px
}
*/
    .ct_privacy_head {
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="ct_privacy_head">
    <h4 class="mb-4">Privacy & Policy</h4>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="elementor-widget-container">
          <p>
            Welcome to the SecurPoint Privacy and Cookies Policy (hereinafter, the
            “Policy”). All references in this policy to “SecurPoint”, “we”, “us” or
            “our” refer to SecurPoint. This Policy is intended to explain how SecurPoint
            manages and provides you with control over your Personal Data. For
            SecurPoint, “Personal Data” means any information that can identify you
            or is reasonably related to you, whether directly or indirectly.
            When we refer to the “processing” of Personal Data, we mean how we
            collect, use, share and retain this information. This policy
            covers these activities on all of our Platforms (“Platforms” or
            “SecurPoint Platforms”).
          </p>
          <div class="pt-0">
            <p>This policy applies to the following SecurPoint Platforms:</p>
          </div>
          <!-- <div class="group w-full text-token-text-primary border-b border-black/10 gizmo:border-0 dark:border-gray-900/50 gizmo:dark:border-0 bg-gray-50 gizmo:bg-transparent dark:bg-[#444654] gizmo:dark:bg-transparent" data-testid="conversation-turn-69">
      <div class="p-4 gizmo:py-2 justify-center text-base md:gap-6 md:py-6 m-auto">
         <div class="flex flex-1 gap-4 text-base mx-auto md:gap-6 gizmo:gap-3 gizmo:md:px-5 gizmo:lg:px-1 gizmo:xl:px-5 md:max-w-2xl lg:max-w-[38rem] gizmo:md:max-w-3xl gizmo:lg:max-w-[40rem] gizmo:xl:max-w-[48rem] xl:max-w-3xl }">
            <div class="relative flex w-[calc(100%-50px)] flex-col gizmo:w-full lg:w-[calc(100%-115px)] agent-turn">
               <div class="flex-col gap-1 md:gap-3">
                  <div class="flex flex-grow flex-col gap-3 max-w-full">
                     <div class="min-h-[20px] flex flex-col items-start gap-3 whitespace-pre-wrap break-words overflow-x-auto" data-message-author-role="assistant" data-message-id="87edddf2-3031-4988-8c1d-345b8c7a5e6b">
                        <div class="markdown prose w-full break-words dark:prose-invert light">
                           <p>This policy applies to the following SecurPoint Platforms:</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div> -->
          <ul role="list">
            <li>
              The SecurPoint applications and related features (the “SecurPoint
              <strong>Application</strong>” or
              “<strong>Application</strong>“), including
              <a href="https://www.securPoint.com">https://www.securPoint.com</a>
              (“<strong>SecurPoint Website</strong>“) and mobile platforms and any
              related services (collectively the “<strong>SecurPoint Services</strong>“),
            </li>
          </ul>
          <p>
            <strong>Our commitment to privacy</strong>. As a global friends
            and platform, SecurPoint gives you the opportunity to share
            information about yourself with us, with SecurPoint service providers
            who help us offer our features, and with other SecurPoint users. This
            includes precise details of your location, as well as information
            that in certain jurisdictions may be considered “sensitive” or
            “special category”, such as ethnicity, sexuality, or personal
            information. Our commitment is to provide you with the maximum
            possible control over the Personal Data you share through the SecurPoint
            platform.
          </p>
          <p>
            We recommend that you carefully read this Privacy and Cookies
            Policy, as well as our Terms and Conditions of Service. To support
            our ongoing commitment to transparency, in addition to regular
            updates to this Policy, when you use SecurPoint services, we will
            occasionally display pop-up privacy notices. These notices are
            intended to help you understand the implications of your choices
            when using certain features or services within the platform. We’re
            here to give you the control and information you need to make
            informed decisions about your privacy on SecurPoint.
          </p>
          <p>
            If you are a resident of another country, please note that the
            levels of privacy protection may vary compared to your country of
            residence.
          </p>
          <p>
            <strong>Required Age</strong>: The SecurPoint Platforms are intended
            exclusively for persons who have reached the legal age of
            majority, which is generally eighteen (18) years of age or older.
            If you become aware that a minor has provided Personal Data on the
            SecurPoint Platforms, we encourage you to contact us through the in-app
            reporting tool or by submitting a request outside of your SecurPoint
            account.
          </p>
          <p>
            <strong>United States Residents (as permitted by applicable
              laws)</strong>: Please review your US state privacy rights for details on
            specific rights you may have under applicable US state privacy
            laws.
          </p>
          <h3 class="mb-0">&nbsp;</h3>
          <h3>PERSONAL DATA WE COLLECT</h3>
          <p>
            When using the SecurPoint Platforms, we collect Personal Data about you,
            most of which you provide voluntarily. We may also obtain data
            about your interactions, usage and experiences on our Platforms,
            as well as receive information from third parties.
          </p>
          <p>
            <strong>Personal Data You Must Provide</strong>: When creating an
            account, you are required to provide a limited amount of Personal
            Data, such as an email address or phone number, along with your
            date of birth to verify that you are of legal age.
          </p>
          <p>
            <strong>Personal Data You May Provide</strong>: You are free to
            decide what Personal Data you wish to include in your “SecurPoint
            Profile”. This Personal Profile Data, known as “Profile
            Information”, is shared with other users of the SecurPoint Services,
            i.e. the “SecurPoint Community”. This includes options like sharing your
            location, photos and videos. However, please note that omitting
            certain data could affect the functionality of some SecurPoint Services.
            You can also choose whether to provide Personal Data to provide
            feedback, use customer services, or participate in surveys. The
            types of data collected may vary depending on the survey.
          </p>
          <p>
            <strong>Note on Sensitive Personal Data</strong>: In some
            jurisdictions and under certain regulations, Personal Data that
            may reveal a person’s racial or ethnic origin may be considered
            “sensitive” or “special category” Personal Data.
          </p>
          <p>
            <strong>Notice About Location Information</strong>: We may collect
            your exact location (“Location”) to determine your distance from
            other users (“Distance Data”). Advanced users who use the SecurPoint
            Services in an unauthorized manner or who change locations while
            you remain there may use Distance Information to determine your
            location and possibly your identity. You can choose to hide your
            distance information, but the SecurPoint Services will still sort and
            display your profile based on your relative distance from other
            users. Even if you choose to hide this information, other people
            may still be able to determine your location. Additionally, you
            have the option to revoke this permission and disable location
            services on your device. On iPhone, you can do this from Settings
            &gt; Privacy &gt; Location Services &gt; SecurPoint, and on Android
            devices, from Settings &gt; Location &gt; SecurPoint &gt; Location
            Permissions, adjusting your browser settings.
          </p>
          <p>
            <strong>Personal Data We Receive from Your Device When Using the SecurPoint
              Platforms</strong>: In order to maintain and improve the SecurPoint Platforms, we collect
            Personal Data such as user activity, hardware and software
            information, cookies and use other technologies, such as web
            beacons, software development kits (SDKs), local storage and log
            files.
          </p>
          <p>
            <strong>Personal Data We Receive from Third Parties</strong>: SecurPoint
            collects limited information from third parties, including
            obtaining Personal Data from payment processing services, website
            tracking and application usage information providers,
            authentication services (such as Google and Facebook), machine
            learning services and our consent management platform provider.
          </p>
          <h3 class="mb-0">&nbsp;</h3>
          <h3>WHAT WE DO WITH YOUR PERSONAL DATA</h3>
          <p>
            The main reason we use your Personal Data is to enable SecurPoint
            Functionalities, which includes the ability to use the fundamental
            functions of our services, provide you with technical support and
            ensure the security of the platform. We only process your Personal
            Data when necessary, following specific purposes and legal bases.
          </p>
          <p>
            In general, we use your Personal Data for the following purposes:
          </p>
          <ol>
            <li>Offer you the Services related to your SecurPoint account.</li>
            <li>
              Respond to your queries and provide you with technical
              assistance.
            </li>
            <li>
              Contribute to the continuous improvement of our Platforms and
              guarantee the safety of users, making use of machine learning
              techniques and automated decision making.
            </li>
            <li>Protect our interests as a company.</li>
            <li>
              Allow you to enjoy various features of the Platform and the
              Service, including the implementation of machine learning and
              automated decision making;
            </li>
            <li>
              Enable third-party advertising and marketing providers to use
              cookies and other technologies to display ads to users of the
              Services that are free of charge.
            </li>
            <li>
              Conduct surveys and collect your opinion on a voluntary basis
              regarding our Platforms.
            </li>
            <li>
              Respond to legal requests from law enforcement agencies,
              regulators and other third parties, in compliance with “Legal
              Obligations” (as defined below).
            </li>
          </ol>
          <h3 class="mb-0">&nbsp;</h3>
          <h3>HOW WE SHARE YOUR PERSONAL DATA</h3>
          <p>
            In order to facilitate meaningful connections, SecurPoint provides you
            with the ability to share information about yourself with the SecurPoint
            Community and third parties in the context of our Platforms, as
            described in this Privacy Policy. Generally, we share your
            Personal Data in the following ways:
          </p>
          <ul>
            <li>
              <strong>SecurPoint Community</strong>: The SecurPoint Services are designed
              as a safe space for you to discover, interact and connect with
              other members of the SecurPoint Community. In this sense, as part of
              the Services, SecurPoint allows you to share your Profile Information,
              your location and other data with the SecurPoint Community.
            </li>
            <li>
              <strong>Third Party Providers</strong>: SecurPoint shares Personal
              Data with various third party providers in order to provide the
              to whom you may provide Personal Data directly (for example,
              Apple for chat backups and Stripe for payment processing).
            </li>
            <li>
              <strong>Business Transactions</strong>: In the event that
              another company acquires, or plans to acquire, our company,
              business or assets, such company will assume ownership of the
              Personal Data that we have collected and accept the rights and
              obligations related to that Personal Data, of in accordance with
              what is described in this Policy.
            </li>
            <li>
              <strong>Legal Obligations</strong>: We reserve the right to
              access, retain and disclose Personal Data in situations
              involving: (i) compliance with the SecurPoint Terms and Conditions of
              Service; (ii) allegations related to content or conduct that may
              violate our policies or the rights of third parties; (iii)
              customer service requests; (iv) technical problems; (v) the
              protection of the rights, Property or personal safety of SecurPoint,
              its users or the public; (vi) valid legal requests, including
              subpoenas, court orders or injunctions, or in connection with
              any legal process; (vii) establishing or exercising our legal
              rights or defending against legal claims; (viii) tax and
              accounting implications; or (ix) any other cause required by
              law, collectively known as “Legal Obligations”.
            </li>
          </ul>
          <h3 class="mb-0">&nbsp;</h3>
          <h3>HOW LONG WE KEEP YOUR PERSONAL DATA</h3>
          <p>
            We retain your Personal Data for as long as strictly necessary to
            fulfill the purposes for which it was collected, as permitted by
            Legal Obligations, the SecurPoint Terms and Conditions of Service, or
            the SecurPoint Community Standards. Additionally, we retain a device
            identifier (IDFV and Android ID) and limited log data for a period
            of up to two years after account deletion, for the purpose of
            supporting internal reporting, analysis and statistics. In
            situations where there is a legal or security requirement,
            Personal Data may be retained for longer periods. For example,
            SecurPoint may retain certain account information, a device identifier
            (VID and Android ID), and limited registration data for accounts
            that have been banned or that violate SecurPoint’s Terms and Conditions
            of Service or SecurPoint Community. In some circumstances, SecurPoint may also
            retain chat messages used to report violating behavior that
            results in an account being banned.
          </p>
          <p>
            Local and Server Storage: SecurPoint is implementing chat message
            storage on its servers to support the use of the SecurPoint Services,
            including enhanced security features and an optimized user
            experience across multiple platforms and devices. This transition
            involves longer data retention, in accordance with our data
            retention policy. However, it is important to note that chat
            messages, including images and recordings, may continue to be
            stored locally on users’ devices and may persist on the
            recipient’s device, even after this information is no longer
            available on the SecurPoint servers.
          </p>
          <h3 class="mb-0">&nbsp;</h3>
          <h3>YOUR OPTIONS AND RIGHTS</h3>
          <div class="markdown prose w-full break-words dark:prose-invert light">
            <p>
              You have the ability to make various decisions and exercise your
              rights in relation to your Personal Data stored on SecurPoint:
            </p>
            <ol>
              <li>
                <strong>Access and Portability</strong>: You may request that
                we inform you about how we handle your Personal Data and that
                we provide you with a copy of your Personal Data in a readable
                format. We may not be able to provide certain information if
                you disclose Personal Data of third parties or if we are
                prohibited by law. If you have questions about your Access and
                Portability request, please contact us.
              </li>
              <li>
                <strong>Delete Account and Related Data</strong>: You have the
                option to delete your account and associated information at
                any time. After deletion, your Personal Data will be deleted
                from SecurPoint systems in accordance with our Data Retention
                Policy. However, in some situations, we may retain certain
                information after your request, for example, to comply with
                legal obligations, moderation reviews, dispute resolution, and
                other matters as set forth in this Policy. For detailed
                information on how to delete your account, see the help
                center.
              </li>
              <li>
                <strong>Correct Profile Information</strong>: When you create
                an account, you provide Personal Data for your public Profile
                on SecurPoint. You can review and change your Profile Information at
                any time by accessing the “Edit Profile” section of the SecurPoint
                Services.
              </li>
              <li>
                <strong>Behavioral Advertising on Third Party Websites and
                  Platforms</strong>: You have the option to opt out of sharing your Personal
                Data with our Advertising and Marketing Partners for
                behavioral advertising purposes. Please note that opting out
                of behavioral advertising does not mean that you will not see
                advertising when using the free version of the SecurPoint Services.
                However, it excludes you from interest-based advertising, as
                established by the applicable choice mechanisms.
              </li>
              <li>
                <strong>Promotional Emails</strong>: You can choose whether to
                allow us to use your email address to send free newsletters,
                surveys, offers and other promotional materials related to
                SecurPoint or SecurPoint properties, as well as specific offers from third
                parties. You can stop receiving promotional emails by
                following the unsubscribe instructions in the emails you
                receive. Even if you unsubscribe from promotional emails, we
                may continue to send you service-related communications, and
                our applications will continue to send you in-app messages.
              </li>
              <li>
                <strong>Third Party Tracking</strong>: You can request that
                your Personal Data not be collected and used with tools such
                as Google Analytics on the SecurPoint site by following the
                instructions provided here to download a browser add-on that
                rejects this tracking.
              </li>
              <li>
                <strong>Limit Processing</strong>: In certain circumstances,
                you can limit the way we process your Personal Data, for
                example, through controls provided by your device’s operating
                system, such as those related to “location,” the level of
                detail of location and opt-out of the use of your ad
                identifier for behavioral advertising.
              </li>
              <li>
                <strong>Withdraw Consent</strong>: You can withdraw previously
                granted consent at any time. The revocation of consent applies
                only to future processing activities and has no retroactive
                effect. For more information about the processing activities
                in which SecurPoint relies on your consent, consult our Legal Bases.
              </li>
              <li>
                <strong>Objection to Processing</strong>: You have the right
                to object to the use of our legitimate interests as a basis
                for the processing of your Personal Data.
              </li>
              <li>
                <strong>No Discrimination</strong>: Exercising these rights
                will not give rise to any discrimination.
              </li>
            </ol>
            <p>
              You can visit our Privacy Help Center to learn more about
              features to support your privacy and decisions. To exercise your
              decisions and rights or make a request outside of your SecurPoint
              account.
            </p>
          </div>
          <h3 class="mb-0">&nbsp;</h3>
          <h3>HOW WE PROTECT YOUR PERSONAL DATA</h3>
          <p>
            At SecurPoint, the security and privacy of your Personal Data is of
            utmost importance to us. We maintain a rigorous focus on the
            integrity, confidentiality and availability of your data,
            including information of a sensitive nature. Our cybersecurity
            team works continuously to strengthen our defenses and protect
            your Personal Data and any sensitive information.
          </p>
          <p>
            While we use our best efforts to provide robust security and
            privacy features, it is important to note that no method of data
            transmission over the Internet or electronic storage is completely
            foolproof. Therefore, although we implement robust measures, we
            cannot guarantee the absolute security of your Personal Data. Our
            security measures and privacy policies are provided “as is.”
            Consequently, we cannot ensure error-free effectiveness or
            absolute confidentiality and anonymity. We advise that if you have
            particular concerns about the protection of your data, you
            consider not using our Properties.
          </p>
          <p>
            In the unlikely event that we are required by law to inform you of
            unauthorized access to your Personal Data, we will notify you in
            accordance with applicable legal provisions, either by electronic
            means or by written communication. Your security and privacy are
            fundamental to us, and we are committed to continuing to improve
            our practices to safeguard your Personal Data.
          </p>
          <h3 class="mb-0">&nbsp;</h3>
          <h3>HOW TO CONTACT US OR FILE COMPLAINTS</h3>
          <div class="markdown prose w-full break-words dark:prose-invert light">
            <p>
              <strong>Contact information</strong>. At SecurPoint, we appreciate
              your comments, questions or concerns regarding our Privacy
              Policy and your Personal Data. Do not hesitate to contact us by
              email at <a href="mailto:
legal@SecurPoint.com">
                legal@SecurPoint.com</a>.
            </p>
            <p>
              In some cases, we may ask you for specific information to verify
              your identity before processing your request. Your satisfaction
              and the protection of your Personal Data are of utmost
              importance to us.
            </p>
          </div>
          <h3 class="mb-0">&nbsp;</h3>
          <h3>CHANGES IN POLICY</h3>
          <div class="markdown prose w-full break-words dark:prose-invert light">
            <p>
              From time to time, we may make changes to this policy. If we
              conclude, in our sole discretion, that the changes we make are
              material, we will inform you in advance. These notifications may
              be made directly through our services or via email. It is our
              priority to keep you up to date with any important changes to
              our privacy policy.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>